<!-- <%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>Welcome</strong>: <%= user.firstName %></p>
              <p><strong>email</strong>: <%= user.email %></p>

              <a href="/authToken" method="_POST">Connect API</a>

              <a href="/createBasiqUser">Create Basiq User?</a>

              <a href="/createAuthLink">create Auth Link</a>

              <!-- <a href="/getConsents">get consents</a> -->

              <!-- <a href="/getBasiqUser">get Basiq User</a>

              <a href="/getAccounts">get accounts</a>

              <a href="/getTransactions">get transactions</a>
          
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
        
      </div>
       
    </div>
  </div>
</div>
<%- include('partials/footer') -%> -->